{% extends "base_layout.html" %}
{% block title %} Tradewinds - Login {% endblock %}

{% block full_page %}

<div class="container">
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
      <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

    </div>

{% endblock %}
