{% extends "grains/layout.html" %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <ul class='nav nav-tabs'>
    <li class='active'><a href='#type'>Account types</a></li>
  </ul>

    <div class='tab-content'>
	    <div class='tab-pane active' id='type'>
	    	</br>
	    	</br>
	    	<form action="{% url 'grains:addType'%}" method="post">
	        	{% csrf_token %}
	    		<div class="form-group">
				        <label for="typename">Type</label>
				        <input type="text" class="form-control" name="typename" id="typename" placeholder="Enter Type name" required>
				</div>
				<button type="submit" class="btn btn-default">Add Account Type</button>
	    	</form>
	        </br>
	        <h2 class="text text-primary">Account Types</h2>
	        {% if types %}
    			<ul class="list-group">
    			{% for type in types %}
        			<li class="list-group-item">{{ type.name }}</li>
    			{% endfor %}
    			</ul>
			{% else %}
				<p>No Account Types added</p>
			{% endif %}
	    </div>
	 </div>


<p>{{ firm }}</p>
    <script>
      $(function() {
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
      });
    </script>
{% endblock %}