{% extends "base_layout.html" %}
{% set title="Add New Firm" %}


{% block header %}
    <h1>Add New Firm</h1>
    <p><a class="btn btn-primary btn-lg" href="/home" role="button">Home</a></p>
    <p><a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a></p>
{% endblock %}


{% block col_one %}
{{ super() }}
{{ resp }}
<form action="/addfirm" method="POST">
     Name<input type="text" name="name" value="" required></br>
    Market Licence<input type="text" name="market_licence" value="" required></br>
    TIN Number<input type="text" name="tin_num" value="" required></br>
    PAN Number<input type="text" name="pan_num" value="" required></br>
    TAN Number<input type="text" name="tan_num" value="" required></br>
    Street<input type="text" name="street" value="" required></br>
    City<input type="text" name="city" value="" required></br>
    District<input type="text" name="district" value="" required></br>
    State<input type="text" name="state" value="" required></br>
    Phone Number<input type="number" name="phone" value="" required></br>
    Email Id<input type="email" name="email" value="" required placeholder="Enter a valid email address">
    <input type="submit" value="Submit">
</form>
{% endblock %}