<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- <Stylesheets>-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- </Stylesheets> -->
    <!-- <javascript>-->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- </javascript>-->
</head>
<body>

<!-- Created with code snippet from http://getbootstrap.com/components/#jumbotron -->
<div class="jumbotron">
    <div class="container">
            {% block header %}

            {% endblock %}
    </div>
</div>

<!-- Used http://shoelace.io/ to generate following code easily -->
<!-- CodeSchool has really good tutorial on bootstrap -->
<!-- Learn more about grids here: http://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->
<div class="container">
    <div class="row">
        <div class="col-md-4"> 
            {% block col_one %}

            {% endblock %}
        </div>
        <div class="col-md-4"> 
            {% block col_two %}

            {% endblock %}
        </div>
        <div class="col-md-4"> 
            {% block col_three %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
