{% extends "base_layout.html" %}
{% set title="Register" %}


{% block header %}
    <h1>Registration Page</h1>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
{% endblock %}


{% block col_one %}
{{ super() }}
{{ resp }}
<form action="/register" method="POST">
    Username <input type="text" name="username" value="" required></br>
    Password<input type="text" name="password" value="" required></br>
    Name <input type="text" name="name" value="" required></br>
    Phone Number<input type="number" name="phone" value="" required></br>
    Email Id<input type="email" name="email" value="" required placeholder="Enter a valid email address">
    <input type="submit" value="Submit">
</form>
{% endblock %}
